@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

h1 {
    color: #E7E5DF;
}

.title-box {
    background-color: #393E41;
}

.main-content {
    background-color: #393E41;
}

.instructions {
    color: #E7E5DF;
}

.search-bar {
    color: #393E41;
    background-color: #E7E5DF;
    border-color: #bfb9ad;
}

.search-button {
    background-color: #E7E5DF;
    border-color: #bfb9ad;
    color: #393E41;
}

.search-button:hover {
    border-width: 2px;
}

.search-button:active {
    background-color: #bfb9ad
}

.athlete-list{
    margin-top: 30px;
}

.list-entry:nth-child(2n+1) {
    background-color: #E7E5DF;
}

.list-entry:nth-child(2n) {
    background-color: #bfb9ad;
}

.entry-name {
    color: #393E41;
}

.entry-info {
    color: #393E41;
}

.entry-button {
    background-color: #393E41;
    border-color: #222628;
    color: #E7E5DF;
}

.entry-button:active {
    background-color: #222628
}

a {
    text-decoration-color: #393E41;
}