h1 {
    color: #E7E5DF;
}

.title-box {
    background-color: #393E41;
}

.profile-section {
    background-color: #393E41;
    flex-direction: column;
    align-items: flex-start;
}

h3 {
    color: #E7E5DF;
}

.info {
    align-self: flex-start;
    color: #E7E5DF;
}

#gym-link {
    text-decoration-color: #E7E5DF;
}

.instructions {
    color: #E7E5DF;
}

th {
    border-color: #E7E5DF;
    color: #E7E5DF;
}

.competition-data-row:nth-child(2n) {
    background-color: #E7E5DF;
}

.competition-data-row:nth-child(2n+1) {
    background-color: #bfb9ad;
}

td{
    color: #393E41;
    border-color: #393E41;
}

a {
    color: #393E41;
}