h1 {
    color: #E7E5DF;
}

.title-box {
    height: 12rem;
    background-color: #FE7F2D;
    display: flex;
}

h3 {
    color: #E7E5DF;
}

.gym-details {
    background-color: #FE7F2D;
    flex-direction: row;
    align-items: flex-start;
}

#gym-picture {
    width: 500px;
    height: 500px;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
    margin-right: 50px;
}

.gym-info-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    flex-grow: 1;
    height: 500px;
}

@media (width <= 1410px){
    .gym-details{
        flex-direction: column;
        align-items:center;
    }

    .gym-info-section{
        margin-top: 50px;
    }
    
    #gym-picture{
        margin-top:50px;
    }
}

.info {
    color: #E7E5DF;
}

#website-link {
    text-decoration-color: #E7E5DF;
}

.leaderboards {
    background-color: #4A8FE7;
    flex-direction:column;
}

.leaderboard-list {
    margin-top: 30px;
}

.competition:nth-child(2n+1) {
    background-color: #FE7F2D;
}

.competition:nth-child(2n) {
    background-color: #cf5d15;
}

.competition-name {
    color: #E7E5DF;
}

.competition-info {
    color: #E7E5DF;
}

.view-leaderboard-button {
    background-color: #4A8FE7;
    border-color: #305fb8;
    color: #E7E5DF;
}

.view-leaderboard-button:active {
    background-color: #305fb8;
}

.affiliated-athletes-section {
    background-color: #393E41;
    flex-direction: column;
    justify-content: center;
}

.affiliated-athletes-list {
    margin-top: 30px;
}

.athlete:nth-child(2n+1) {
    background-color: #E7E5DF;
}

.athlete:nth-child(2n) {
    background-color: #bfb9ad;
}

.athlete-name {
    color: #393E41;
}

.athlete-info {
    color: #393E41;
}

.view-stats-button {
    background-color: #393E41;
    border-color: #222628;
    color: #E7E5DF;
}

.view-stats-button:active {
    background-color: #222628
}

.upcoming-comps-list {
    margin-top: 30px;
}

.upcoming-comps {
    background-color: #BBE6E4;
    border-color: #393E41;
    border-width: 5px;
    border-style: solid;
    flex-direction: column;
}

.upcoming-comps-title {
    color: #393E41;
}

.upcoming-comp:nth-child(2n+1) {
    background-color: #4A8FE7;
}

.upcoming-comp:nth-child(2n) {
    background-color: #305fb8;
}

.upcoming-comp-name {
    color: #E7E5DF;
}

.upcoming-comp-info {
    color: #E7E5DF;
}

.upcoming-comp-more-info {
    background-color: #FE7F2D;
    border-color: #cf5d15;
    color: #E7E5DF;
}

.upcoming-comp-more-info:active {
    background-color: #cf5d15;
}