@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

body {
    background-color: #E7E5DF;
    margin: 0;
}

h1 {
    font-family: "Black Ops One", serif;
    font-weight: 400;
    font-size: 6rem;
    align-self: center;
    margin: auto;
    color: #E7E5DF;
}

.title {
    height: 12rem;
    background-color: #4A8FE7;
    display: flex;
}

h2 {
    font-family: "Black Ops One", serif;
    font-weight: 400;
    font-size: clamp(3rem, 7vw, 6rem);
    text-align:center;
}

.athlete-highlight {
    background-color: #FE7F2D;
    margin-right: 20vw;
    margin-top: 100px;
    padding: 2.5%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px
}

#athlete-highlight-title {
    color: #E7E5DF;
    margin-top: 0;
    margin-bottom: 2.5%;
}

.athlete-highlight-body {
    display: flex;
    align-items: flex-start;
}

@media (width < 1000px){
    .athlete-highlight-body{
        display: block;
        text-align: center;
    }
    
    #highlighted-athlete-lookup{
        margin-inline: auto;
    }
}

#athlete-of-the-month-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: top;
    flex-shrink: 0;
    margin-right: 50px;
}

.highlighted-athlete-info {
    flex-grow: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#athlete-name {
    font-family: "Black Ops One", serif;
    font-weight: 400;
    font-size: 4rem;
    color: #393E41;
    margin-top: 0;
    margin-bottom: 0;
    align-self:center;
}

#athlete-description {
    font-family: "Radio Canada", serif;
    font-weight: 500;
    font-size: clamp(0.75rem, 2.5vw, 2rem);
    color: #393E41;
    flex-grow: 1;
}

#highlighted-athlete-lookup {
    font-family: "Radio Canada", serif;
    font-weight: 500;
    font-size: clamp(2rem, 5vw, 3rem);
    background-color: #4A8FE7;
    border-radius: 10px;
    border-style: hidden;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #305fb8;
    color: #E7E5DF;
    display: inline-block;
    align-self: flex-start;
    padding: 1rem;
    transition: 0.01s;
    margin-top: 0px;
}

#highlighted-athlete-lookup:hover {
    border-width: 2px;
    margin-top: 3px;
}

#highlighted-athlete-lookup:active {
    background-color: #305fb8
}

.leaderboards {
    background-color: #4A8FE7;
    margin-left: 20vw;
    margin-top: 100px;
    padding: 2.5%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#leaderboards-title {
    color: #E7E5DF;
    margin-top: 0;
    margin-bottom: 2.5%;
}

.featured-leaderboards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5%;
    flex-grow: 1;
}

.featured-leaderboard {
    width: 27%;
    background-color: #BBE6E4;
    border-radius: 25px;
    border-color: #305fb8;
    border-width: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.featured-leaderboard-name {
    font-family: "Black Ops One", serif;
    font-weight: 400;
    font-size: 2.25rem;
    color: #393E41;
    margin-top: 20px;
    text-align: center;
    line-height: 1;
}

.featured-leaderboard-date {
    font-family: "Radio Canada", serif;
    font-weight: 500;
    font-size: 2rem;
    color: #393E41;
    margin-top:10px;
}

.featured-leaderboard-type {
    font-family: "Radio Canada", serif;
    font-weight: 500;
    font-size: 2rem;
    color: #393E41;
    margin-top: 10px;
    flex-grow: 1;
}

.view-leaderboard-button {
    font-family: "Radio Canada", serif;
    font-weight: 500;
    font-size: clamp(1.25rem, 2.1vw, 2rem);
    background-color: #FE7F2D;
    border-radius: 10px;
    border-style: hidden;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #cf5d15;
    color: #E7E5DF;
    display: inline-block;
    padding: 0.75rem;
    transition: 0.1s;
    margin-bottom: 20px;
}

.view-leaderboard-button:hover{
    border-width:2px;
}

.view-leaderboard-button:active {
    background-color: #cf5d15
}

#leaderboard-lookup {
    font-family: "Radio Canada", serif;
    font-weight: 500;
    font-size: 2rem;
    background-color: #FE7F2D;
    border-radius: 10px;
    border-style: hidden;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #cf5d15;
    color: #E7E5DF;
    display: inline-block;
    align-self:center;
    padding: 1rem;
    margin-top:2px;
    transition: 0.01s;
}

#leaderboard-lookup:hover {
    border-width: 2px;
    margin-top:5px;
}

#leaderboard-lookup:active {
    background-color: #cf5d15
}

.athlete-search {
    background-color: #393E41;
    margin-right: 20vw;
    margin-top: 100px;
    padding: 2.5%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#athlete-search-title {
    margin-top: 0;
    margin-bottom: 40px;
    color: #E7E5DF;
}

.athlete-search-form {
    display: flex;
    margin: 0px 30px 0px 30px;
    width:100%;
}

#athlete-search-bar {
    height: 4.5rem;
    font-family: "Radio Canada", serif;
    font-weight: 600;
    color: #393E41;
    background-color: #E7E5DF;
    font-size: 3.5rem;
    border-color: #FE7F2D;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    margin-right: 20px;
    flex-grow: 1;
}

#athlete-search-button {
    font-family: "Radio Canada", serif;
    font-weight: 500;
    font-size: 2rem;
    background-color: #FE7F2D;
    border-radius: 10px;
    border-style: hidden;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #cf5d15;
    color: #E7E5DF;
    display: inline-block;
    align-self: flex-end;
    padding: 1rem;
    transition: 0.1s;
}

#athlete-search-button:hover{
    border-width:2px;
}

#athlete-search-button:active {
    background-color: #cf5d15
}

.upcoming-comps {
    background-color: #BBE6E4;
    margin-left: 20vw;
    margin-top: 100px;
    padding: 2.5%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-color: #393E41;
    border-width: 5px;
    border-style: solid;
    border-right-style: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upcoming-comps-title {
    margin-top: 0;
    margin-bottom: 2.5%;
    color: #393E41;
}

.upcoming-comp{
    display:flex;
    align-items:center;
}

.upcoming-comp:nth-child(2n+1) {
    background-color: #4A8FE7;
}

.upcoming-comp:nth-child(2n) {
    background-color: #305fb8;
}

.upcoming-comp:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.upcoming-comp:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.upcoming-comp-name {
    font-family: "Black Ops One", serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #E7E5DF;
    margin: 10px;
    flex-grow:1;
}

.upcoming-comp-info {
    font-family: "Radio Canada", serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #E7E5DF;
    margin: 10px 30px 10px 30px;
}

.upcoming-comp-more-info {
    font-family: "Radio Canada", serif;
    font-weight: 500;
    font-size: 1.25rem;
    background-color: #FE7F2D;
    border-radius: 10px;
    border-style: hidden;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #cf5d15;
    color: #E7E5DF;
    display: inline-block;
    padding: .25rem;
    transition: 0.1s;
    margin: 0px 30px 5px 30px;
    align-self:flex-end;
}

.upcoming-comp-more-info:hover{
    border-width: 2px;
}

.upcoming-comp-more-info:active{
    background-color: #cf5d15;
}

#all-upcoming-comps {
    font-family: "Radio Canada", serif;
    font-weight: 500;
    font-size: 2rem;
    background-color: #FE7F2D;
    border-radius: 10px;
    border-style: hidden;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #cf5d15;
    color: #E7E5DF;
    display: inline-block;
    padding: 1rem;
    transition: 0.01s;
    margin-top: 50px;
    justify-self: end;
}

#all-upcoming-comps:hover {
    border-width: 2px;
    margin-top: 53px;
}

#all-upcoming-comps:active {
    background-color: #cf5d15;
}

a{
    text-decoration:none;
}

@media (width < 1400px) {
    .athlete-highlight,
    .leaderboards,
    .athlete-search,
    .upcoming-comps {
        margin-right: 0px;
        margin-left: 0px;
        border-radius: 0px;
    }

    .upcoming-comps{
        border-top-style:solid;
        border-bottom-style:solid;
        border-left-style:hidden;
    }
}

.coming-soon{
    text-align:center;
}

ul{
    display:inline-block;
    text-align:left;
    margin-bottom:300px;
}

li {
    font-family: "Radio Canada", serif;
    color: #393E41;
    font-weight: 400;
    font-size: 2rem;
}

.coming-soon-title {
    color: #393E41;
    margin-top: 100px;
    margin-bottom: 0px;
}