h1 {
    color: #E7E5DF;
}

.title-box {
    background-color: #4A8FE7;
}

.main-content {
    background-color: #4A8FE7;
}

.instructions {
    color: #E7E5DF;
}

.search-bar {
    color: #393E41;
    background-color: #E7E5DF;
    border-color: #393E41;
}

.search-button {
    background-color: #FE7F2D;
    border-color: #cf5d15;
    color: #E7E5DF;
}

.search-button:active {
    background-color: #cf5d15
}

.leaderboard-list{
    margin-top: 30px;
}

.list-entry:nth-child(2n+1) {
    background-color: #FE7F2D;
}

.list-entry:nth-child(2n) {
    background-color: #cf5d15;
}

.entry-name {
    color: #E7E5DF;
}

.entry-info {
    color: #E7E5DF;
}

.entry-button {
    background-color: #4A8FE7;
    border-color: #305fb8;
    color: #E7E5DF;
}

.entry-button:active {
    background-color: #305fb8;
}

a {
    text-decoration-color: #E7E5DF;
}