h1 {
    color: #393E41;
}

.title-box {
    background-color: #BBE6E4;
}

.main-content {
    background-color: #BBE6E4;
    border-color: #393E41;
    border-width: 5px;
    border-style: solid;
}

.list-entry:nth-child(2n+1) {
    background-color: #4A8FE7;
}

.list-entry:nth-child(2n) {
    background-color: #305fb8;
}

.instructions {
    color: #393E41;
}

.entry-name {
    color: #E7E5DF;
}

.entry-info {
    color: #E7E5DF;
}

.entry-button {
    background-color: #FE7F2D;
    border-color: #cf5d15;
    color: #E7E5DF;
}

.entry-button:active {
    background-color: #cf5d15;
}

a {
    text-decoration-color: #E7E5DF;
}