<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../CSS/athletesStylesheet.css" />
        <link rel="stylesheet" href="../CSS/headerStylesheet.css" />
        <link rel="stylesheet" href="../CSS/listStylesheet.css" />
        <link rel="stylesheet" href="../CSS/listStructureStylesheet.css" />
    </head>
    <body>
        <div class="title-box">
            <h1>Athletes</h1>
        </div>
        <div class="header">
            <button class="header-button" onclick="goToLink('index.html')">Home</button>
            <button class="header-button" onclick="goToLink('upcoming.html')">Upcoming</button>
            <button class="header-button" onclick="goToLink('leaderboards.html')">Leaderboards</button>
            <button class="header-button" onclick="goToLink('athletes.html')">Athletes</button>
        </div>
        <div class="main-content">
            <h2 class="instructions"> Search for an athlete's name</h2>
            <div class="search">
                <input class="search-bar" id="athlete-search-bar" />
                <button class="search-button" id="athlete-search-button" onclick="onAthleteSearchClicked()">Search</button>
            </div>
            <div class="athlete-list" id="athlete-list">
                <div class="list-entry">
                    <h3 class="entry-name">Lorem ipsum</h3>
                    <a href="gym.html"><p class="entry-info"><strong>Gym:</strong> tempor</p></a>
                    <p class="entry-info"><strong>Parkour Points:</strong> 10</p>
                    <button class="entry-button" onclick="viewAthleteProfile()">View Stats</button>
                </div>
                <div class="list-entry">
                    <h3 class="entry-name">dolor sit</h3>
                    <a href="gym.html"><p class="entry-info"><strong>Gym:</strong> incididunt ut labore</p></a>
                    <p class="entry-info"><strong>Parkour Points:</strong> 100</p>
                    <button class="entry-button" onclick="viewAthleteProfile()">View Stats</button>
                </div>
                <div class="list-entry">
                    <h3 class="entry-name">consectetur adipiscing</h3>
                    <a href="gym.html"><p class="entry-info"><strong>Gym:</strong> et</p></a>
                    <p class="entry-info"><strong>Parkour Points:</strong> 0</p>
                    <button class="entry-button" onclick="viewAthleteProfile()">View Stats</button>
                </div>
                <div class="list-entry">
                    <h3 class="entry-name">sed do eiusmod</h3>
                    <a href="gym.html"><p class="entry-info"><strong>Gym:</strong> dolore magna</p></a>
                    <p class="entry-info"><strong>Parkour Points:</strong> 69</p>
                    <button class="entry-button" onclick="viewAthleteProfile()">View Stats</button>
                </div>
            </div>
        </div>
    </body>
</html>