<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../CSS/leaderboardStylesheet.css" />
        <link rel="stylesheet" href="../CSS/headerStylesheet.css" />
    </head>
    <body>
        <div class="title">
            <h1 id="title">Lorem ipsum</h1>
        </div>
        <div class="header">
            <button class="header-button" onclick="goToLink('index.html')">Home</button>
            <button class="header-button" onclick="goToLink('upcoming.html')">Upcoming</button>
            <button class="header-button" onclick="goToLink('leaderboards.html')">Leaderboards</button>
            <button class="header-button" onclick="goToLink('athletes.html')">Athletes</button>
        </div>
        <div class="leaderboard-stats">
            <h2 class="leaderboard-title" id="leaderboard-title">Lorem ipsum</h2>
            <a href="gym.html" id="host-gym-link"><p class="competition-info" id="gym"><strong>Gym:</strong> tempor</p></a>
            <p class="competition-info" id="date"><strong>Date:</strong> 1/25/2025</p>
            <p class="competition-info" id="type"><strong>Type:</strong> Speed</p>
            <p class="competition-info" id="format"><strong>Format:</strong> consectetur adipiscing elit</p>
            <p class="competition-info" id="number-of-competitors"><strong>Competitors:</strong> 34</p>
            <p class="competition-info" id="age-divisions"><strong>Age Divisions:</strong> 8-10, 11-13, 14+</p>
            <p class="competition-info" id="parkour-point-multiplier"><strong>Parkour Point Multiplier:</strong> 1</p>
            <button id="highlights-button">View Highlights</button>
        </div>
        <div class="leaderboard" id="leaderboard">
            <h2 class="leaderboard-title">Leaderboard</h2>
            <h3 class="leaderboard-age-division">8-10</h3>
            <div class="scrollable-table">
                <table>
                    <tr>
                        <th>Place</th>
                        <th>Athlete Name</th>
                        <th>Athlete Gym</th>
                        <th>Round 1 Time 1</th>
                        <th>Round 1 Time 2</th>
                        <th>Round 2 Time 1</th>
                        <th>Round 2 Time 2</th>
                        <th>Round 3 Time 1</th>
                        <th>Round 3 Time 2</th>
                        <th>Round 1 Score</th>
                        <th>Round 2 Score</th>
                        <th>Round 3 Score</th>
                        <th>Final Score</th>
                        <th>Parkour Points Earned</th>
                    </tr>
                    <tr class="leaderboard-data-row">
                        <td>1</td>
                        <td>Lorem ipsum</td>
                        <td><a href="gym.html">dolor sit amet</a></td>
                        <td>10</td>
                        <td>12</td>
                        <td>12.5</td>
                        <td>11</td>
                        <td>8</td>
                        <td>-</td>
                        <td>10</td>
                        <td>11</td>
                        <td>8</td>
                        <td>29</td>
                        <td>15</td>
                    </tr>
                    <tr class="leaderboard-data-row">
                        <td>2</td>
                        <td>consectetur adipiscing</td>
                        <td><a href="gym.html">dolor sit amet</a></td>
                        <td>11</td>
                        <td>12</td>
                        <td>12.5</td>
                        <td>11</td>
                        <td>8</td>
                        <td>-</td>
                        <td>11</td>
                        <td>11</td>
                        <td>8</td>
                        <td>30</td>
                        <td>10</td>
                    </tr>
                    <tr class="leaderboard-data-row">
                        <td>3</td>
                        <td>sed do</td>
                        <td><a href="gym.html">dolor sit amet</a></td>
                        <td>11</td>
                        <td>12</td>
                        <td>12.5</td>
                        <td>11</td>
                        <td>9</td>
                        <td>15</td>
                        <td>11</td>
                        <td>11</td>
                        <td>9</td>
                        <td>31</td>
                        <td>5</td>
                    </tr>
                </table>
            </div>
            <h3 class="leaderboard-age-division">11-13</h3>
            <div class="scrollable-table">
                <table>
                    <tr>
                        <th>Place</th>
                        <th>Athlete Name</th>
                        <th>Athlete Gym</th>
                        <th>Round 1 Time 1</th>
                        <th>Round 1 Time 2</th>
                        <th>Round 2 Time 1</th>
                        <th>Round 2 Time 2</th>
                        <th>Round 3 Time 1</th>
                        <th>Round 3 Time 2</th>
                        <th>Round 1 Score</th>
                        <th>Round 2 Score</th>
                        <th>Round 3 Score</th>
                        <th>Final Score</th>
                        <th>Parkour Points Earned</th>
                    </tr>
                    <tr class="leaderboard-data-row">
                        <td>1</td>
                        <td>Lorem ipsum</td>
                        <td><a href="gym.html">dolor sit amet</a></td>
                        <td>10</td>
                        <td>12</td>
                        <td>12.5</td>
                        <td>11</td>
                        <td>8</td>
                        <td>-</td>
                        <td>10</td>
                        <td>11</td>
                        <td>8</td>
                        <td>29</td>
                        <td>15</td>
                    </tr>
                    <tr class="leaderboard-data-row">
                        <td>2</td>
                        <td>consectetur adipiscing</td>
                        <td><a href="gym.html">dolor sit amet</a></td>
                        <td>11</td>
                        <td>12</td>
                        <td>12.5</td>
                        <td>11</td>
                        <td>8</td>
                        <td>-</td>
                        <td>11</td>
                        <td>11</td>
                        <td>8</td>
                        <td>30</td>
                        <td>10</td>
                    </tr>
                    <tr class="leaderboard-data-row">
                        <td>3</td>
                        <td>sed do</td>
                        <td><a href="gym.html">dolor sit amet</a></td>
                        <td>11</td>
                        <td>12</td>
                        <td>12.5</td>
                        <td>11</td>
                        <td>9</td>
                        <td>15</td>
                        <td>11</td>
                        <td>11</td>
                        <td>9</td>
                        <td>31</td>
                        <td>5</td>
                    </tr>
                </table>
            </div>
            <h3 class="leaderboard-age-division">14+</h3>
            <div class="scrollable-table">
                <table>
                    <tr>
                        <th>Place</th>
                        <th>Athlete Name</th>
                        <th>Athlete Gym</th>
                        <th>Round 1 Time 1</th>
                        <th>Round 1 Time 2</th>
                        <th>Round 2 Time 1</th>
                        <th>Round 2 Time 2</th>
                        <th>Round 3 Time 1</th>
                        <th>Round 3 Time 2</th>
                        <th>Round 1 Score</th>
                        <th>Round 2 Score</th>
                        <th>Round 3 Score</th>
                        <th>Final Score</th>
                        <th>Parkour Points Earned</th>
                    </tr>
                    <tr class="leaderboard-data-row">
                        <td>1</td>
                        <td>Lorem ipsum</td>
                        <td><a href="gym.html">dolor sit amet</a></td>
                        <td>10</td>
                        <td>12</td>
                        <td>12.5</td>
                        <td>11</td>
                        <td>8</td>
                        <td>-</td>
                        <td>10</td>
                        <td>11</td>
                        <td>8</td>
                        <td>29</td>
                        <td>15</td>
                    </tr>
                    <tr class="leaderboard-data-row">
                        <td>2</td>
                        <td>consectetur adipiscing</td>
                        <td><a href="gym.html">dolor sit amet</a></td>
                        <td>11</td>
                        <td>12</td>
                        <td>12.5</td>
                        <td>11</td>
                        <td>8</td>
                        <td>-</td>
                        <td>11</td>
                        <td>11</td>
                        <td>8</td>
                        <td>30</td>
                        <td>10</td>
                    </tr>
                    <tr class="leaderboard-data-row">
                        <td>3</td>
                        <td>sed do</td>
                        <td><a href="gym.html">dolor sit amet</a></td>
                        <td>11</td>
                        <td>12</td>
                        <td>12.5</td>
                        <td>11</td>
                        <td>9</td>
                        <td>15</td>
                        <td>11</td>
                        <td>11</td>
                        <td>9</td>
                        <td>31</td>
                        <td>5</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>