<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../CSS/upcomingCompetitionStylesheet.css" />
        <link rel="stylesheet" href="../CSS/headerStylesheet.css" />
        <link rel="stylesheet" href="../CSS/profileStructureStylesheet.css" />
    </head>
    <body>
        <div class="title-box">
            <h1 id="title">Lorem ipsum dolor sit amet</h1>
        </div>
        <div class="header">
            <button class="header-button" onclick="goToLink('index.html')">Home</button>
            <button class="header-button" onclick="goToLink('upcoming.html')">Upcoming</button>
            <button class="header-button" onclick="goToLink('leaderboards.html')">Leaderboards</button>
            <button class="header-button" onclick="goToLink('athletes.html')">Athletes</button>
        </div>
        <div class="profile-section">
            <h3 id="competition-title">Lorem ipsum</h3>
            <a href="gym.html"><p class="info" id="gym"><strong>Gym:</strong> tempor</p></a>
            <p class="info" id="date"><strong>Date:</strong> 1/25/2025</p>
            <p class="info" id="time"><strong>Time:</strong> 3:00pm</p>
            <p class="info" id="type"><strong>Type:</strong> Speed</p>
            <p class="info" id="format"><strong>Format:</strong> consectetur adipiscing elit</p>
            <p class="info" id="age-divisions"><strong>Age Divisions:</strong> 8-10, 11-13, 14+</p>
            <p class="info" id="parkour-point-multiplier"><strong>Parkour Point Multiplier:</strong> 1</p>
            <button id="sign-up-button">Sign Up</button>
        </div>
    </body>
</html>