<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="../CSS/upcomingStylesheet.css" />
        <link rel="stylesheet" href="../CSS/headerStylesheet.css" />
        <link rel="stylesheet" href="../CSS/listStylesheet.css" />
        <link rel="stylesheet" href="../CSS/listStructureStylesheet.css" />
    </head>
    <body>
        <div class="title-box">
            <h1>Upcoming Competitions</h1>
        </div>
        <div class="header">
            <button class="header-button" onclick="goToLink('index.html')">Home</button>
            <button class="header-button" onclick="goToLink('upcoming.html')">Upcoming</button>
            <button class="header-button" onclick="goToLink('leaderboards.html')">Leaderboards</button>
            <button class="header-button" onclick="goToLink('athletes.html')">Athletes</button>
        </div>
        <div class="main-content">
            <div class="upcoming-comps-list" id="upcoming-comps-list">
                <div class="list-entry">
                    <h3 class="entry-name">Lorem ipsum dolor sit amet</h3>
                    <a href="gym.html"><p class="entry-info"><strong>Gym:</strong> incididunt</p></a>
                    <p class="entry-info"><strong>Type:</strong> Speed</p>
                    <p class="entry-info"><strong>Date:</strong> 1/25/2025</p>
                    <button class="entry-button" onclick="seeFullComp()">More Info</button>
                </div>
                <div class="list-entry">
                    <h3 class="entry-name">consectetur adipiscing elit</h3>
                    <a href="gym.html"><p class="entry-info"><strong>Gym:</strong> ut labore</p></a>
                    <p class="entry-info"><strong>Type:</strong> Skill</p>
                    <p class="entry-info"><strong>Date:</strong> 1/25/2025</p>
                    <button class="entry-button" onclick="seeFullComp()">More Info</button>
                </div>
                <div class="list-entry">
                    <h3 class="entry-name">sed do eiusmod tempor</h3>
                    <a href="gym.html"><p class="entry-info"><strong>Gym:</strong> et dolore</p></a>
                    <p class="entry-info"><strong>Type:</strong> Style</p>
                    <p class="entry-info"><strong>Date:</strong> 1/25/2025</p>
                    <button class="entry-button" onclick="seeFullComp()">More Info</button>
                </div>
            </div>
        </div>
    </body>
</html>